<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<section class="my-navigation">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" width="30"
                     height="30" alt="Python">
            </a>
            <a href="#" class="navbar-brand">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Nuxt_logo.svg" width="30" height="30"
                     alt="NuxtJS">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                    <a class="nav-link" href="#">Контакты</a>
                </div>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                    <button class="btn btn-outline-success me-2" type="submit">Найти</button>
                    <button type="button" class="btn btn-outline-light me-2">Вход</button>
                    <button type="button" class="btn btn-outline-light me-2">Регистрация</button>
                    <button type="button" class="btn btn-outline-light">Выход</button>
                </form>
            </div>
        </div>
    </nav>
</section>

<section class="my-carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/first_img.png" class="d-block mx-auto w-75" alt="Первая картинка">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Это описание первого слайда</h5>
                    <p>Тут можно писать все что угодно</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/second_img.png" class="d-block mx-auto w-75" alt="Вторая картинка">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Это описание второго слайда</h5>
                    <p>Тут можно писать все что угодно</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/third_img.png" class="d-block 100" alt="Третья картинка">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Это описание третьего слайда</h5>
                    <p>Тут можно писать все что угодно</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<span class="ms-5 me-5">
post
</span>
<span class="me-5">
post
</span>
<div class="mx-auto w-25">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi enim, ex,
    exercitationem facere iusto natus nihil, nostrum nulla quis repellat repellendus? A ab accusantium ad,
    adipisci animi aut autem blanditiis commodi consectetur corporis culpa cum dignissimos dolorem doloremque
    dolores ducimus eligendi error est facere inventore iste itaque laborum maiores minus odit omnis perferendis,
    perspiciatis porro quos repellat sequi tempora totam, vel. Aspernatur aut beatae blanditiis commodi
    consectetur consequuntur distinctio dolore eligendi eos eveniet expedita harum iusto maiores maxime minima
    minus molestias mollitia natus nobis non obcaecati officiis, pariatur placeat quas quidem quo recusandae
    similique sint velit, voluptas. Sit, tempore.
</div>
<div class="w-25 p-5" style="background-color: green">25</div>
<div class="w-50 p-5" style="background-color: green">50</div>
<div class="w-75 p-5" style="background-color: green">75</div>
<div class="w-100 p-5" style="background-color: green">100</div>

<div style="height: 200px">
    <div class="h-25 d-inline-block" style="background-color: green; width: 100px">25</div>
    <div class="h-50 d-inline-block" style="background-color: green; width: 100px">50</div>
    <div class="h-75 d-inline-block" style="background-color: green; width: 100px">75</div>
    <div class="h-100 d-inline-block" style="background-color: green; width: 100px">100</div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col-6">
            2 of 3 (wider)
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col-5">
            2 of 3 (wider)
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
</div>


<div class="container">
    <div class="d-flex p-3 flex-row-reverse justify-content-between">
        <div class="m-3">Lorem ipsum dolor sit amet 111</div>
        <div class="m-3">Lorem ipsum dolor sit amet 222</div>
        <div class="m-3">Lorem ipsum dolor sit amet 333</div>
    </div>
</div>

<div class="container">
    <div class="d-flex p-3 flex-column align-items-end">
        <div class="m-3">Lorem ipsum dolor sit amet 111</div>
        <div class="m-3">Lorem ipsum dolor sit amet 222</div>
        <div class="m-3 align-self-center">Lorem ipsum dolor sit amet 333</div>
    </div>
</div>

<div class="container-fluid mt-5" style="background-color: antiquewhite">
    <div class="container p-5">
        <div class="card" style="width: 40rem">
            <img src="img/third_img.png" alt="" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Заголовок</h4>
                <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, nesciunt,
                    recusandae. A corporis dolore doloremque eos error esse est expedita, id labore perspiciatis,
                    quaerat quia quibusdam repudiandae, tenetur vero voluptas.
                </div>
                <a href="" class="btn btn-primary">Submit</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5" style="background-color: antiquewhite">
    <div class="container p-5">
        <div class="row">
            <div class="col">
                <div class="card text-left">
                    <img src="img/third_img.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Заголовок</h4>
                        <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, nesciunt,
                            recusandae. A corporis dolore doloremque eos error esse est expedita, id labore
                            perspiciatis, quaerat quia quibusdam repudiandae, tenetur vero voluptas.
                        </div>
                        <a href="" class="btn btn-primary">Отправить</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="img/third_img.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Заголовок</h4>
                        <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, nesciunt,
                            recusandae. A corporis dolore doloremque eos error esse est expedita, id labore
                            perspiciatis, quaerat quia quibusdam repudiandae, tenetur vero voluptas.
                        </div>
                        <a href="" class="btn btn-primary">Отправить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="all-posts">
  <div class="container">
    <h1 class="my-4 text-center">Последние записи блога</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="img/third_img.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Заголовок</h4>
                    <p class="card-text">Это краткое описание поста. Это краткое описание поста. Это краткое описание поста. </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                        <small class="text-muted">22.10.2020</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="img/second_img.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Заголовок</h4>
                    <p class="card-text">Это краткое описание поста. Это краткое описание поста. Это краткое описание поста. </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                        <small class="text-muted">21.10.2020</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="img/first_img.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Заголовок</h4>
                    <p class="card-text">Это краткое описание поста. Это краткое описание поста. Это краткое описание поста. </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                        <small class="text-muted">20.10.2020</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="img/first_img.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Заголовок</h4>
                    <p class="card-text">Это краткое описание поста. Это краткое описание поста. Это краткое описание поста. </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                        <small class="text-muted">19.10.2020</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="img/second_img.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Заголовок</h4>
                    <p class="card-text">Это краткое описание поста. Это краткое описание поста. Это краткое описание поста. </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                        <small class="text-muted">18.10.2020</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="img/third_img.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Заголовок</h4>
                    <p class="card-text">Это краткое описание поста. Это краткое описание поста. Это краткое описание поста. </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                        <small class="text-muted">17.10.2020</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
<script src="js/script.js"></script>

</body>
</html>